<html>
<head>
	<title>COP 4331 Contact Web App</title>
	<script type="text/javascript" src="../angular.min.js"></script>
	<script type="text/javascript" src="../js/code.js"></script>
	<script type="text/javascript" src="../js/md5.js"></script>
	<link href="../css/style.css" rel="stylesheet">	
</head>
<body>

<h1>COP 4331 Contact Web App</h1>

<div ng-app="myApp" ng-controller="myCtrl">

	<div id="loginDiv">
		Please login<br />
		User Name: <input type="text" id="loginName"><br />
		Password: <input type="password" id="loginPassword"><br />
        <span id="loginResult"></span><br />
		<button type="button" id="loginButton" class="buttons" ng-click="doLogin();"> Login </button>
		<button type="button" id="createAccountButton" class="buttons" ng-click="createUser();"> Create Account </button>

	</div>
    <div id="loggedInDiv" style="display:none; visibility:hidden;">
        Logged in as <span id="userName"></span><br />
        <button type="button" id="logoutButton" class="buttons" ng-click="doLogout();"> Log Out </button>
    </div>
    <div id="createUserDiv" style="...; visibility:hidden;">
        User Name*: <input type="text" id="newUserName"><br />
        Password*: <input type="password" id="newUserPassword"><br />
        First Name: <input type="text" id="newUserFirstName"><br />
        Last Name: <input type="text" id="newUserLastName"><br />
        Email: <input type="email" id="newUserEmail"><br />
        <button type="button" id="submitUser" class="buttons" ng-click="submitUser();"> Submit Account </button>
        <button type="button" id="home" class="buttons" ng-click="home();"> Cancel </button>
        <span id="newUserError"></span>
    </div>
    <div id="viewContactsUIDiv" style="...; visibility:hidden;">
        <button type="button" id="addContact" class="buttons" ng-click="addContact();"> Add Contact </button>
		<!-- Delete contact -->
		 <button type="button" id="delContact" class="buttons" ng-click="deleteContact();"> Delete Contact </button>
		 	<div id = "deleteContactDiv" style="...; visibility:hidden;">
			First Name of contact to delete: <input type = "text" id="deletedContactFirstName"></br>
			Last Name of contact to delete: <input type = "text" id="deletedContactLastName"></br>
		<button type="button" id="delButton" class="buttons" ng-click="removeFromList();"> Delete </button>
		<button type="button" id="cancelButton" class="buttons" ng-click="cancelDelete();"> Cancel </button>
			</div>
        <br />
        <span id="contactListMessage"></span>
        <br />
        Contact List Size: <span id="contactList"></span>

        <br />
        <!-- Search Bar & Buttons: -->
        <input type="text" id="searchBar">
        <button type="button" id="searchButton" class="buttons" ng-click="search();"> Search Contacts </button>
        <button type="button" id="clearSearchButton" class="buttons" ng-click="clearSearch();"> Clear Search </button>
        <br />
        
        <button type="button" id="fNameSortButton" class="buttons" ng-click="sortContacts(0);"> Sort by First Name </button>
        <button type="button" id="fNameSortButton" class="buttons" ng-click="sortContacts(1);"> Sort by Last Name </button>
        <button type="button" id="fNameSortButton" class="buttons" ng-click="sortContacts(2);"> Sort by Phone # </button>
        <button type="button" id="fNameSortButton" class="buttons" ng-click="sortContacts(3);"> Sort by Street </button>
        <button type="button" id="fNameSortButton" class="buttons" ng-click="sortContacts(4);"> Sort by City </button>
        <button type="button" id="fNameSortButton" class="buttons" ng-click="sortContacts(5);"> Sort by State </button>
        <button type="button" id="fNameSortButton" class="buttons" ng-click="sortContacts(6);"> Sort by ZIP </button>
        <br />


        <table id="contactTable" style="width:100%">
            <caption>Contact List</caption>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Phone Number</th>
                <th>Street</th>
                <th>City</th>
                <th>State</th>
                <th>Zip</th>
            </tr>
        </table>
    </div>
    <div id="addContactDiv" style="...; visibility:hidden;">
        First Name*: <input type="text" id="newContactFirstName"><br />
        Last Name*: <input type="text" id="newContactLastName"><br />
        Phone*: <input type="text" id="newContactPhone"><br />
        Street: <input type="text" id="newContactStreet"><br />
        City: <input type="text" id="newContactCity"><br />
        State: <input type="text" id="newContactState"><br />
        Zip: <input type="text" id="newContactZip"><br />
        <button type="button" id="submitContact" class="buttons" ng-click="submitContact();"> Submit Contact </button>
        <button type="button" id="contacts" class="buttons" ng-click="contacts();"> Cancel </button>
        <span id="newContactError"></span>
    </div>
	<div id="accessUIDiv" style="display:none; visibility:hidden;">
		<br />

		Search for Color: <input type="text" id="searchText">
		<button type="button" id="searchColorButton" class="buttons" ng-click="searchColor();"> Search Color </button><br />
		<span id="colorSearchResult"></span>
		<select id="colorList" style="display:none; visibility:hidden;">
			<!-- <option value="volvo">Volvo</option> -->
		</select><br /><br />

		Add Color: <input type="text" id="colorText">
		<button type="button" id="addColorButton" class="buttons" ng-click="addColor();"> Add Color </button><br />
		<span id="colorAddResult"></span>
	</div>
</div>

</body>
</html>
